@page "/account/signin"
@using Blazorise
@inject IJSRuntime JsRuntime

<div class="container">
    <Jumbotron Background="Background.None" Margin="Margin.Is4.FromBottom">
        <JumbotronTitle Size="JumbotronTitleSize.Is4">Un mundo de nuevas posibilidades!</JumbotronTitle>
        <JumbotronSubtitle>
            <strong>El mundo actual avanza a pasos de gigante. Lo que ayer nos entusiasmaba y parecía moderno, hoy está obsoleto y no produce beneficios.</strong>
        </JumbotronSubtitle>
        <Divider></Divider>
        <Paragraph>
            ¿Cómo tener éxito en un mundo que se desarrolla vertiginosamente?
            <Blazorise.Container Breakpoint="Breakpoint.Desktop">
                <Blazorise.Alert Color="Color.None" Visible="true">
                    <ComponentContraseña modalVisible=@visible></ComponentContraseña>
                    <div class="container">
                        <ComponentSignIn SignInmovil=@movil></ComponentSignIn>
                    </div>
                    <div class="container">
                        <p class="h6">¿Aún no tienes cuenta? <a href="/account/register" style="color: #363636">Crear nueva cuenta</a></p>
                    </div>
                    <hr>
                    <div class="container">
                        <p class="h6">Haz olvidado la contraseña? <Button Color="Color.Primary" Clicked="@ShowModal">Cambio de Contraseña</Button></p>
                    </div>
                </Blazorise.Alert>
            </Blazorise.Container>
        </Paragraph>
    </Jumbotron>
</div>

@code {

    private bool visible = false;
    public bool movil;

    private Task ShowModal()
    {
        visible = true;

        return Task.CompletedTask;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            movil = await JsRuntime.InvokeAsync<bool>("movil");
            StateHasChanged();
        }
    }

}
