@page "/"
@namespace BlazorApp.Pages
<!DOCTYPE html>
<html lang="en">
<head>
    @*No cambiar el order*@
    <meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <base href="~/" />

      @* No tocar nada de esto*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
@*    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />*@

    <link href="lib/bulma/css/bulma.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorApp.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="dist/spectre.min.css" />
    <link rel="stylesheet" href="dist/spectre-exp.min.css" />
    <link rel="stylesheet" href="dist/spectre-icons.min.css" />
    <link href="dist/matBlazor.css" rel="stylesheet" />

</head>
<body>
   <div class="invertir"></div>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Se ha producido un error. Es posible que esta aplicación ya no responda hasta que se vuelva a Recargar.
        </environment>
        <environment include="Development">
           Se ha producido una excepción no controlada. Consulte las herramientas de desarrollo del navegador para obtener más información.
        </environment>
        <a href="" class="reload">Recargar</a>
        <a class="dismiss">🗙</a>
    </div>


   @* <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
   *@

   @* No tocar nada de esto*@
    <script src="_framework/blazor.server.js"></script>
    <script src="lib/jquery-1.9.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/IMask.js"></script>
    <script src="js/main.js"></script>
    <script src="lib/script/custom.js"></script>
    <script src="dist/matBlazor.js"></script>


</body>

</html>
