@page "/"
@namespace BlazorApp.Pages
<!DOCTYPE html>
<html lang="en">
<head>
    @*No cambiar el order de llamada*@
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/"/>
     <link href="lib/bulma/css/bulma.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorApp.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="dist/spectre.min.css" />
    <link rel="stylesheet" href="dist/spectre-exp.min.css" />
    <link rel="stylesheet" href="dist/spectre-icons.min.css" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
