@page "/extrato";
@using Blazorise
<div class="panel-body">
    <Blazorise.Container Breakpoint="Breakpoint.Desktop">
        <Blazorise.Alert Color="Color.Primary" Visible="true">
            <h3><i class="icon-edit-sign teal"></i> ESTADO DE CUENTA</h3>
            <p>
                <strong style="color:black;font-size:medium">Crea una cuenta para administrar todo lo que haces con ClipOne, desde tus preferencias de compra hasta tu actividad en ClipOne</strong>
            </p>
        </Blazorise.Alert>
    </Blazorise.Container>
    <hr>
</div>

<ComponentExtrato></ComponentExtrato>

