@page "/"
<div class="panel-bod">
    <h2><i class="icon-edit-sign teal" ></i> HOME</h2>
    <p >
         <strong style="color:black;font-size:medium">Crea una cuenta para administrar todo lo que haces con ClipOne, desde tus preferencias de compra hasta tu actividad en ClipOne</strong>
    </p>
    <hr>
</div>



