@page "/registro"
@using Blazorise;
@inject NavigationManager navigationManager
@inject IJSRuntime JsRuntime
<body>
    <div class="welcome"></div>
    <div class="panel-body">
        <Blazorise.Container Breakpoint="Breakpoint.Desktop">
            <Blazorise.Alert Color="Color.Info" Visible="true">
                <h3><i class="icon-edit-sign teal"></i> REGISTRO-Desktop</h3>
                <p>
                    <strong style="color:black;font-size:medium">
                        Puedes invertir en proyectos inmobiliarios normalmente reservados para profesionales del sector. Además, la baja inversión por proyecto te permite 
                        diversificar e invertir en muchos inmuebles distintos, evitando la concentración de riesgos.
                    </strong>
                </p>
            </Blazorise.Alert>
        </Blazorise.Container>
        <ComponentRegistro movil=false></ComponentRegistro>
    </div>
</body>
@code {

    private bool movil = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        movil = await JsRuntime.InvokeAsync<bool>("movil");
        if (movil == true)
        {
            navigationManager.NavigateTo("/registromovil", forceLoad: true);
        }
    }

}
