@page "/registro"
@using BlazorApp.Components
@using BlazorApp.Models
@inject AuthenticationStateProvider authenticationStateProvider
@inject ILocalStorageService _localStorageService
@inject NavigationManager navigationManager


<div class="panel-body">
    <h2><i class="icon-edit-sign teal"></i> REGISTRO</h2>
    <p>
        Crea una cuenta para administrar todo lo que haces con ClipOne, desde tus preferencias de compra hasta tu actividad en ClipOne.
    </p>
    <hr>
    <form action="#" role="form" id="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        Nombre <span class="symbol required"></span>
                    </label>
                    <input type="text" placeholder="Inserta tu nombre" class="form-control" id="firstname" name="firstname">
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Apellido <span class="symbol required"></span>
                    </label>
                    <input type="text" placeholder="Inserta tu apellido" class="form-control" id="lastname" name="lastname">
                </div>
                <fieldset disabled>
                    <div class="form-group">
                        <label class="control-label">
                            Dirección de Correo Electrónico <span class="symbol required"></span>
                        </label>
                        <input type="email" placeholder="Inserta tu Email" class="form-control" id="email" name="email" value=@email>
                    </div>
                </fieldset>

                <div class="form-group">
                    <label class="control-label">
                        Password <span class="symbol required"></span>
                    </label>
                    <input type="password" placeholder="Inserta tu password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Confirm Password <span class="symbol required"></span>
                    </label>
                    <input type="password" class="form-control" id="password_again" name="password_again">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group connected-group">
                    <label class="control-label">
                        Fecha de nacimiento <span class="symbol required"></span>
                    </label>
                    <div class="row">
                        <input class="form-input" type="date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Género <span class="symbol required"></span>
                    </label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" class="grey" value="" name="gender" id="gender_female">
                            Mujer
                        </label>
                        <label class="radio-inline">
                            <input type="radio" class="grey" value="" name="gender" id="gender_male">
                            Hombre
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">
                                Código Postal <span class="symbol required"></span>
                            </label>
                            <input class="form-control" type="text" name="zipcode" id="zipcode">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">
                                Ciudad <span class="symbol required"></span>
                            </label>
                            <input class="form-control tooltips" type="text" data-original-title="We'll display it when you write reviews" data-rel="tooltip" title="" data-placement="top" name="city" id="city">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <hr>
                    <label class="control-label">
                        <strong>Regístrese para recibir correos electrónicos de Clip-One</strong> <span class="symbol required"></span>
                    </label>
                    <p>
                        ¿Te gustaría revisar los correos electrónicos de Clip-One?
                    </p>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" class="grey" value="" name="newsletter">
                            No
                        </label>
                        <label class="radio-inline">
                            <input type="radio" class="grey" value="" name="newsletter">
                            Yes
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="symbol required"></span>Required Fields
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Al hacer clic en REGISTRARSE, usted acepta la Política y los Términos y Condiciones.
                </p>
            </div>
            <div class="col-md-4">
                <button class="btn btn-yellow btn-block" type="submit">
                    Register <i class="icon-circle-arrow-right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

@code {
    private string? email;
    private string _userKey = "key";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var emailStorage = await _localStorageService.GetItem<String>(_userKey);
            if (string.IsNullOrEmpty(emailStorage))
            {
                var state = await authenticationStateProvider.GetAuthenticationStateAsync();
                if (!state.User.Identity.IsAuthenticated)
                {
                    navigationManager.NavigateTo("/account/signin?returnUrl=" + System.Net.WebUtility.UrlEncode(new Uri(navigationManager.Uri).PathAndQuery));
                }
                else
                {
                    email = state.User.Identities.FirstOrDefault().Name;
                }
            }
            else
            {
                email = emailStorage;
            }
            StateHasChanged();
        }
    }
}