@page "/soporte"
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
<div class="panel-body">
    <h2><i class="icon-edit-sign teal"></i> SOPORTE</h2>
    <p>
        Crea una cuenta para administrar todo lo que haces con ClipOne, desde tus preferencias de compra hasta tu actividad en ClipOne.
    </p>
    <hr>
</div>
@code {

    protected override async Task OnInitializedAsync()
    {
        var state = await authenticationStateProvider.GetAuthenticationStateAsync();
        if (!state.User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/account/signin?returnUrl=" + System.Net.WebUtility.UrlEncode(new Uri(navigationManager.Uri).PathAndQuery));
        }
    }
}