@page "/transferenciamovil"
@using Blazorise;
<body>
    <div class="welcome1"></div>
    <div class="panel-body">
        <Blazorise.Container Breakpoint="Breakpoint.Desktop">
            <Blazorise.Alert Color="Color.Info" Visible="true">
                <h3><i class="icon-edit-sign teal"></i> TRANSFERENCIA-Móvil </h3>
                <p>
                    <strong style="color:black;font-size:medium">Crea una cuenta para administrar todo lo que haces con ClipOne, desde tus preferencias de compra hasta tu actividad en ClipOne</strong>
                </p>
            </Blazorise.Alert>
        </Blazorise.Container>
         <hr>
        <Blazorise.Container Breakpoint="Breakpoint.Desktop">
            <Blazorise.Alert Color="Color.None" Visible="true">
                <TemplateSesion></TemplateSesion>
               <Component_Transferencia movil=true></Component_Transferencia>
            </Blazorise.Alert>
        </Blazorise.Container>
    </div>
</body>