@page "/transferenciamovil"
@using Blazorise;
@inject NavigationManager navigationManager
@inject IJSRuntime JsRuntime
<body>
    <div class="welcome1"></div>
    <div class="panel-body">
        <Blazorise.Container Breakpoint="Breakpoint.Desktop">
            <Blazorise.Alert Color="Color.Info" Visible="true">
                <h3><i class="icon-edit-sign teal"></i> TRANSFERENCIA-Móvil </h3>
                <p>
                    <strong style="color:black;font-size:medium">Crea una cuenta para administrar todo lo que haces con ClipOne, desde tus preferencias de compra hasta tu actividad en ClipOne</strong>
                </p>
            </Blazorise.Alert>
        </Blazorise.Container>
         <hr>
        <Blazorise.Container Breakpoint="Breakpoint.Desktop">
            <Blazorise.Alert Color="Color.None" Visible="true">
                <TemplateSesion></TemplateSesion>
               <ComponentTransferencia movil=true></ComponentTransferencia>
            </Blazorise.Alert>
        </Blazorise.Container>
    </div>
</body>
@code {

    private bool movil = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        movil = await JsRuntime.InvokeAsync<bool>("movil");
        if (movil == false)
        {
            navigationManager.NavigateTo("/transferencia", forceLoad: true);
        }
    }

}