@page "/transferencia"
@using Blazorise;
<body>
    <div class="welcome1"></div>
    <div class="panel-body">
        <Blazorise.Container Breakpoint="Breakpoint.Desktop">
            <Blazorise.Alert Color="Color.Info" Visible="true">
                <h3><i class="icon-edit-sign teal"></i> TRANSFERENCIA-Desktop </h3>
                <p>
                    <strong style="color:black;font-size:medium">
                        Conseguimos rentabilidades muy atractivas con un nivel de riesgo reducido: siempre hay un inmueble detrás de tu inversión.                    
                    </strong>
                </p>
            </Blazorise.Alert>
        </Blazorise.Container>
         <hr>
        <Blazorise.Container Breakpoint="Breakpoint.Desktop">
            <Blazorise.Alert Color="Color.None" Visible="true">
                <TemplateSesion></TemplateSesion>
               <ComponentTransferencia movil=false></ComponentTransferencia>
            </Blazorise.Alert>
        </Blazorise.Container>
    </div>
</body>