@inherits LayoutComponentBase
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject IAccountService AccountService
<PageTitle>BlazorApp</PageTitle>
@inject ILocalStorageService _localStorageService
<div class="page">
    <div class="sidebar" id="idsidebar" style="visibility:visible;">
         <NavMenu />
    </div>
 
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>
@code{

    //private bool NavMenu = false;

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
 
    //    }
    //}

}